.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.lateral-menu {
  /* border: 1px white solid; */
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #1c2331;
}

.logo-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.navegation-button {
  background-color: #1c2331;
  color: #ffffff;
  padding: 8px 16px;
  border: 1px white solid;
  border-radius: 4px;
  width: 200px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navegation-button:hover {
  background-color: #ffffff;
  color: #1c2331;
}

.selected-button {
  background-color: #ffffff;
  color: #1c2331;
}

.credits {
  position: fixed;
  bottom: 0;
  right: 0;
  color: black;
  font-size: 14px;
  padding: 4px;
  z-index: 9999;
  margin: 10px;
}

.credits-email {
  font-weight: bold;
  text-decoration: none;
}

.content {
  width: 100%;
  height: auto;
  display: flex;
  border: 1px black solid;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}

/* Temporal */
label {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

input {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  width: 80%;
}

.form-container {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  height: 200px;
  width: 250px;
  margin: 30px;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.boton-registro {
  margin: 5px 0;
  background-color: white;
  color: black;
  border: 1px solid lightgray;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.boton-registro:hover {
  background-color: lightgray;
  color: white;
}
