body {
  background-color: #4d4d4d;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.icon-app {
  width: 100px;
  height: 100px;
}
